<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base ::layout(~{::section})">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<section>
<style>
	.accordion-button{
	background-color: #f7f7f5;
	color: black;
	}
	.accordion-button:active{
	background-color: #e9e9e2;
	color: #0D0E0F;
	}
	.accordion-button:focus{
	box-shadow: none;
	border: 1px solid #e9e9e2;
	}
	.accordion-button:not(.collapsed){
	background-color: #e9e9e2;
	color: #0D0E0F;
	}
	.accordion-button:not(.collapsed)::after{
	background-image: url('Images/accordion-nav.svg');
	}	
</style>
<script type="text/javascript" src="/js/script.js"></script>
</section>
<body>

<section>
<div class="container">
<form th:action="@{userAddress}" method="post" id="myForm">
<div class="row mt-5">


<div class="col-md-8">

<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <b style="font-size:20px;" >Order Summary</b>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionPanelsStayOpenExample">
      <div class="accordion-body">
      
      

<div class="card-body">

<table class="table table-hover table-striped text-center mb-0">
  <thead>
    <tr class="text-center">
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Totalprice</th>
    </tr>
  </thead>
  <tbody> 
    <tr th:each="e: ${cList}">   
      <td th:text="${e.pname}"></td>
      <td><img alt="Product Image" style=" min-width:145px; max-height:80px; max-width:150px;" th:src="@{'/img/' + ${e.pimage}}"></td>
      <td th:text="${e.formattedPprice.substring(0, e.formattedPprice.indexOf('.') >= 0 ? e.formattedPprice.indexOf('.') : e.formattedPprice.length())}"></td>
      <td> <div class="text-center">      
      <span th:text="${e.pquantity}" id="span"></span>      
      </div></td>
      <td th:text="${e.formattedTotalprice.substring(0, e.formattedTotalprice.indexOf('.') >= 0 ? e.formattedTotalprice.indexOf('.') : e.formattedTotalprice.length())}"></td>   
    </tr>
  </tbody>
</table>
<p class="font-weight-bold text-success text-end fs-5">TotalPrize:- <span th:text="${totalPrice.substring(0, totalPrice.indexOf('.') >= 0 ? totalPrice.indexOf('.') : totalPrice.length())}"> </span> </p>
</div>
    
</div>
</div>
</div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <b style="font-size:20px;">Delivery Address</b>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo" data-bs-parent="#accordionPanelsStayOpenExample">
      <div class="accordion-body">
      
      <div th:if="${#lists.isEmpty(profileModels)}">
      
     	<div class="container text-center">
<a href="/profile" style="text-decoration: none; color: black;"><h1>Please Add Address!!!</h1>
<img alt="" src="img/location.png" style="max-height:200px; max-width:200px; aligh-items:center;" class="mt-5">
</a>
</div>
      
      </div>
		
		<div th:unless="${#lists.isEmpty(profileModels)}">
		
		<ul class="list-group list-group-flush">
    <li class="list-group-item" th:each="e, iterStat : ${profileModels}">
        <div class="form-check">
            <input class="form-check-input" 
                   type="radio" 
                   th:name="'exampleRadios'" 
                   th:id="'exampleRadios' + ${iterStat.index}" 
                   th:value="${e.id}" 
                   th:checked="${iterStat.index == 0}" /> <!-- Optionally set one radio as checked -->
            <label class="form-check-label" th:for="'exampleRadios' + ${iterStat.index}">
                <b style="font-size:20px;">Address <span th:text="${iterStat.count}"></span></b><br>
                <b style="font-size:18px;">Name :- </b><span th:text="${e.proName}"></span><br>
                <b style="font-size:18px;">Mobile No :- </b><span th:text="${e.proMobileNo}"></span><br>
                <b style="font-size:18px;">Locality :- </b><span th:text="${e.proLocality}"></span><br>
                <b style="font-size:18px;">City :- </b><span th:text="${e.proCity}"></span><br>
                <b style="font-size:18px;">State :- </b><span th:text="${e.proState}"></span><br>
                <b style="font-size:18px;">Pincode :- </b><span th:text="${e.proPincode}"></span>
            </label>
        </div>
    </li>
</ul>

</div>
		
		
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        <b style="font-size:20px;">Terms & conditions</b>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree" data-bs-parent="#accordionPanelsStayOpenExample">
      <div class="accordion-body">
      
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam quidem rem dolore fugit. Maxime est rerum, omnis
    unde deleniti nobis beatae ipsum et nihil alias sed doloribus. Rem, porro? Perferendis neque delectus quis
    asperiores placeat, in earum, ullam alias nisi omnis aliquam nesciunt iste inventore officiis eum eos cumque porro
    similique voluptas quae! Sint,
      
      </div>
    </div>
  </div>
</div>


</div>	


 <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-header text-center">
                            <h3>Price Details</h3>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                Price <span th:text="${actualPrice.substring(0, actualPrice.indexOf('.') >= 0 ? actualPrice.indexOf('.') : actualPrice.length())}"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Discount <span th:text="'- ' + ${discount.substring(0, discount.indexOf('.') >= 0 ? discount.indexOf('.') : discount.length())}" class="text-success"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Delivery Charges <span class="text-success">Free</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between font-weight-bold">
                                Total Price <span th:text="${totalPrice.substring(0, totalPrice.indexOf('.') >= 0 ? totalPrice.indexOf('.') : totalPrice.length())}"></span>
                            </li>
                        </ul>
                        <div class="card-footer text-center">
                            <p class="text-success font-weight-bold">You will save <span th:text="${discount.substring(0, discount.indexOf('.') >= 0 ? discount.indexOf('.') : discount.length())}"></span> on this order</p>                           
                                <button type="submit" class="btn btn-success btn-block">Place Order</button>                            
                        </div>
                    </div>
                </div>


</div>
</form>
</div>

</section>

</body>
</html>