<!DOCTYPE html>
<html th:replace="base ::layout(~{::section})">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>

<section>
<div class="container">
<div class="row mt-3">
<div class="col-md-7 m-auto">
<div class="card">
<div class="card-header">
<h1>
Login Form
</h1>
</div>
<div class="card-body">
<form th:action="@{/login}" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control"id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>
</div>
</div>

</section>

</body>
</html>