<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base ::layout(~{::section})">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>

<section>
<div class="container text-center mt-5">
<h3>Order Placed Successfully!!</h3>
  <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
</div>
</section>

</body>
</html>